<!DOCTYPE html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=0.5, maximum-scale=1.0" />

{% load static %}
<html>
<head>
<script type="text/javascript" src="{% static 'openstack/user_interface.js' %}"></script>
<script type="text/javascript" src="{% static 'openstack/d3.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'openstack/style.css' %}" />
<script type="text/javascript">
function addField(field, tmp) {
    var div1 = document.createElement('div');
    div1.innerHTML = document.getElementById(tmp).innerHTML;
    document.getElementById(field).appendChild(div1);
}
</script>


</head>
<title>Sites</title>
<body>

    <div class="topbar">
        <h1>Glint | HEPRC Image Distribution Service</h1>
    </div>

    <div class="sidebar">
        Logged in as: <a style="color: blue;">{{ user }}</a>
        <div class="links">
            <script>display_sidebar()</script>
        </div>
    </div>

    <div class="main">
        <h2>Sites</h2>
        {% if user.site_set.count != 0 %}
            <form action="{% url 'openstack:site_removed' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% for site in user.site_set.all %}
                <input type="checkbox" name=site value="{{ site.id }}" id="site{{ forloop.counter }}">{{ site }} -- {{ site.site_RC_file }}<br>
            {% endfor %}
            <br>
            <input type="submit" value="Delete" />
            </form>
        {% else %}
            No sites have been uploaded
        {% endif %}
        <br>

        <form action="{% url 'openstack:site_added' %}" method="post" enctype="multipart/form-data">
            Add new site:
            <div id="site">
                <table>
                    <tr>
                        <td align="left">Site Name:</td>
                        <td align="right"><input type="text" name="site_name" /><td>
                    </tr>
                    <tr>
                        <td align="left">Site Password:</td>
                        <td align="right"><input type="password" name="password" /><td>
                    </tr>
                    <tr>
                        <td align="left">Site RC file:</td>
                        <td align="right"><input type="file" name="site_file" /></td>
                    </tr>
                </table>
            </div><br>
            <input type="submit" name=submit value="Upload Sites" />
        </form><br>

        <button onclick="addField('site', 'tmp')">Add another site</button>

    </div>

    <div id="tmp" style="display:none">
        <table>
            <tr>
                <td align="left">Site Name:</td>
                <td align="right"><input type="text" name="site_name" /><td>
            </tr>
            <tr>
                <td align="left">Site Password:</td>
                <td align="right"><input type="password" name="password" /><td>
            </tr>
            <tr>
                <td align="left">Site RC file:</td>
                <td align="right"><input type="file" name="site_file" /></td>
            </tr>
        </table>
    </div>

</body>
</html>
