<!DOCTYPE html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=0.5, maximum-scale=1.0" />

{% load static %}
<html>
<head>
<script type="text/javascript" src="{% static 'vmdist/user_interface.js' %}"></script>
<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<link rel="stylesheet" type="text/css" href="{% static 'vmdist/style.css' %}" />
<script type="text/javascript">
function addField(field, tmp) {
    var div1 = document.createElement('div');
    div1.innerHTML = document.getElementById(tmp).innerHTML;
    document.getElementById(field).appendChild(div1);
}
</script>

</head>
<title>Images</title>
<body>

    <div class="topbar">
        <h1>Glint | HEPRC Image Distribution Service</h1>
    </div>

    <div class="sidebar">
        Logged in as: <a style="color: blue;">{{ user }}</a>
        <div class="links">
            <script>display_sidebar()</script>
        </div>
    </div>

    <div class="main">
        <h2>Images</h2>
        {% if user.image_set.count != 0 %}
            <form action="{% url 'vmdist:image_removed' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% for image in user.image_set.all %}
                <input type="checkbox" name="image" value="{{ image.id }}" id="image{{ forloop.counter }}">{{ image }} -- {% if image.image_addr != "" %} {{ image.image_addr }} {% else %} {{ image.image_file }} {% endif %} -- {% if image.bundled %} bundled {% else %} unbundled {% endif %} -- {{ image.format }}<br>
            {% endfor %}
            <br>
            <input type="submit" value="Delete" />
            </form>
        {% else %}
            No images have been uploaded
        {% endif %}
        <br>
        {% if user.ec2_cred %}
            <form action="{% url 'vmdist:image_bundled' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                Bundle images:
                <select name="image">
                    {% for image in user.image_set.all %}
                        {% if image.bundled == False and image.image_addr == "" %}
                            <option name="image" value="{{ image.id }}" id="image{{ forloop.counter }}">{{ image }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <input type="submit" value="Bundle" />
            </form>
            This can only bundle image files; website addresses to images cannot be bundled.<br>
            Images must be bundled before they can be deployed onto EC2 clouds<br>
        {% endif %}
        <br>
        {% if user.image_set.count != 0 %}
            <form action="{% url 'vmdist:image_converted' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                Convert Images:
                Convert <select name="image">
                    {% for image in user.image_set.all %}
                        {% if image.image_addr == "" %}
                            <option name="image" value="{{ image.id }}" id="image{{ forloop.counter }}">{{ image }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                to <select name="file_format">
                    <option name="file_format" value="qcow2">qcow2</option>
                    <option name="file_format" value="raw">raw</option>
                </select>
                <input type="submit" value="Convert" />
            </form>
            Can only convert image files; website addresses to images cannot be converted<br>
        {% endif %}
        <br>
        <form action="{% url 'vmdist:image_added' %}" method="post" enctype="multipart/form-data">
            Add new image:
            <div id="file">
                <table>
                    <tr>
                        <td align="left">Image name:</td>
                        <td align="right"><input type="text" name="file_name" /><td>
                    </tr>
                    <tr>
                        <td align="left">Image file:</td>
                        <td align="right"><input type="file" name="image_file" /></td>
                    </tr>
                    <tr>
                        <td align="left">Image type (defaults to qcow2):</td>
                        <td align="right">
                            <select name="file_format">
                                    <option name="file_format" value="qcow2">qcow2</option>
                                    <option name="file_format" value="raw">raw</option>
                            </select>
                        </td>
                    </tr>
                </table>
            </div><br>
            Add new image:
            <div id="addr">
                <table>
                    <tr>
                        <td align="left">Image name:</td>
                        <td align="right"><input type="text" name="addr_name" /><td>
                    </tr>
                    <tr>
                        <td align="left">Image address:</td>
                        <td align="right"><input type="text" name="image_addr" /></td>
                    </tr>
                    <tr>
                        <td align="left">Image type (defaults to qcow2):</td>
                        <td align="right">
                            <select name="addr_format">
                                    <option name="addr_format" value="qcow2">qcow2</option>
                                    <option name="addr_format" value="raw">raw</option>
                            </select>
                        </td>
                    </tr>
                </table>
            </div><br>
            <input type="submit" value="Upload Images" />
        </form><br>

        <button onclick="addField('file', 'tmp2')">Add another file</button>
        <button onclick="addField('addr', 'tmp')">Add another address</button>

    </div>

    <div id="tmp" style="display:none">
        <table>
            <tr>
                <td align="left">Image name:</td>
                <td align="right"><input type="text" name="addr_name" /><td>
            </tr>
            <tr>
                <td align="left">Image address:</td>
                <td align="right"><input type="text" name="image_addr" /></td>
            </tr>
            <tr>
                <td align="left">Image type (defaults to qcow2):</td>
                <td align="right">
                    <select name="addr_format">
                        <option name="addr_format" value="qcow2">qcow2</option>
                        <option name="addr_format" value="raw">raw</option>
                    </select>
                </td>
            </tr>
        </table>
    </div>
    <div id="tmp2" style="display:none">
        <table>
            <tr>
                <td align="left">Image name:</td>
                <td align="right"><input type="text" name="file_name" /><td>
            </tr>
            <tr>
                <td align="left">Image file:</td>
                <td align="right"><input type="file" name="image_file" /></td>
            </tr>
            <tr>
                <td align="left">Image type (defaults to qcow2):</td>
                <td align="right">
                    <select name="file_format">
                        <option name="file_format" value="qcow2">qcow2</option>
                        <option name="file_format" value="raw">raw</option>
                    </select>
                </td>
            </tr>
        </table>
    </div>

</body>
</html>
