<!DOCTYPE html>
<meta charset="utf-8">
<style>

.chart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}

</style>
<div class="chart"></div>
<script src="http://d3js.org/d3.v3.min.js"></script>
<script>
var data = [4, 2, 7, 1, 7];
var x = d3.scale.linear()
    .domain([0, d3.max(data)])
    .range([0, 420]);
// select chart using class selector
d3.select(".chart")
    // define selection to join data to div
    .selectAll("div")
        // join data
        .data(data)
    .enter().append("div")
        .style("width", function(d) { return x(d) + "px";})
        .text(function(d) {return d;});
</script>
